@page
@using System.Globalization
@model TravelAppServer.Pages.TripsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ваши поездки";
    ViewData["Nav"] = "Trips";
}

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<style>

    .trip {
        border-color: lightgrey;
        border-style: inset;
        border-width: 2px;
        padding: 1em;
        margin-bottom: 1em;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

        .trip:hover {
            border-color: blue;
        }

    .triphead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tripphototext {
        display: flex;
        flex-direction: row;
        width: 470px;
    }

    .triptext {
        margin-left: 2em;
    }

    .tripname {
        font-size: 25px;
        cursor: pointer;
    }

    .tripdesc {
        display: inline-block;
        margin-top: 1em;
        cursor: pointer;
    }

    .tripdate {
        display: inline-block;
        cursor: pointer;
        margin-top: 1em;
    }

    .photowrapper {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .tripicons {
        height: 25px;
        width: 25px;
        margin: 0.2em;
    }

    .trips {
        width: 550px;
        margin-top: 2em;
    }

    .tripshead {
        display: flex;
        margin-bottom: 1em;
        justify-content: space-between;
    }

    .tripsname {
        margin-bottom: 0em;
        margin-top: 0em;
    }

    .add {
        width: 25px;
        height: 25px;
        margin-top: 0.7em;
    }

    .iconsintriphead{
        width: 70px;
    }

    label {
        white-space: pre-wrap;
    }
</style>

<div id="trips" class="trips center">
    @*<div id="trip_id" class="trip">
            <img width="100" height="100" src="">
            <div class="triptext">

                <label class="tripname">Аввстрий на майских</label>
                <br><br><br>
                <label>20 апреля 2019 - 21 мая 2020</label>

            </div>
        </div>*@

    <div class="tripshead">
        <h1 class="tripsname">Ваши поездки:</h1>
        <input title="Добавить Поездку" type="image" class="add" src="/images/add.png" onclick="addTrip()">
    </div>

    @if (Model.Trips.Count == 0)
    {
        <h2>У Вас нет ещё поездок! Скорее добавьте!</h2>
    }

    @foreach (var trip in Model.Trips)
    {
        <div id="trip_@trip.Id" class="trip">

            <div class="triphead">
                <a href="@String.Format($"/trip?id={trip.Id}")" class="tripphototext">
                    <div class="photowrapper">
                        @if (trip.Photos.Length == 0)
                        {
                            <img width="100" height="100" src="/images/nophoto.png">
                        }
                        else
                        {
                            <img width="100" height="100" src="/@trip.Photos[0].Location">
                        }
                    </div>

                    <div class="triptext">

                        <label class="tripname">@trip.Name</label>
                        <br>
                        <label class="tripdesc">@trip.TextField</label>
                        <br>
                        @{ var fd = trip.FromDate == null ? "" : (new DateTime(trip.FromDate.Value)).ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"));
                            var td = trip.ToDate == null ? "" : (new DateTime(trip.ToDate.Value)).ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"));}
                        <label class="tripdate">@fd @String.Format(fd == "" && td == "" ? "" : "-") @td</label>

                    </div>
                </a>
                <div class="iconsintriphead">
                    <a href="/Trip/Edit?id=@trip.Id"><img title="Редактировать" class="tripicons" src="/images/edit.png" /></a>
                    <input title="Удалить" type="image" class="tripicons" src="/images/rubbish.png" onclick="Delete('@trip.Id')">
                </div>

            </div>
        </div>
    }
</div>








<script>


    function Delete(tripid) {
        $.ajax({
            type: "DELETE",
            url: "?handler=Delete",
             data: { Id: tripid },

             success: function (data) {
                 location.href = "/trips";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Ошибка:\n" + xhr.responseText);
            }
        });
    }

    function addTrip() {
        $.ajax({
            type: "Get",
            url: "?handler=AddTrip",
            success: function (data) {
                location.href = "/Trip/Edit?id=" + data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Ошибка:\n" + xhr.responseText);
            }
        });
    }


    function ticksToDate(ticks) {
        var TICKS_AT_EPOCH = 621355968000000000;
        var TICKS_PER_MILLISECOND = 10000;
        return new Date((ticks - TICKS_AT_EPOCH) / TICKS_PER_MILLISECOND);
    }

    function dateToTicks(date) {
        var TICKS_AT_EPOCH = 621355968000000000;
        var TICKS_PER_MILLISECOND = 10000;
        return (date.getTime() * TICKS_PER_MILLISECOND) + TICKS_AT_EPOCH
    }


</script>